<div class="container-fluid">
    <div class="row header">
        <!-- ImageTitre de l'outil -->
      <p class="alert alert-info" role="alert">
         Sauver du temps, de l'argent et du CO2 !
        Calcul de l'itinéraire le plus rapide pour une voiture, en partant de la premiere adresse et en revenant à la premiere adresse.
      </p>
  
        <br/>
    </div>
  <div class="row gx-5">
    <div class="col-md-6"><app-tourneeadd></app-tourneeadd></div>
    <div class="col-md-6"><app-tournee-list></app-tournee-list></div>
  </div>
</div>
